@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #ffffff;
}

.body-dark {
  background: #1e202a;
}

.container {
  width: 1112px;
  max-width: 90%;
  margin: 0 auto;
}

.box {
  width: 1440px;
  max-width: 90%;
  height: 250px;
  background: #f5f7ff;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  border-radius: 0 0 30px 30px;
}

@media (max-width: 1000px) {
  .box {
    display: none;
  }
}

.box-dark {
  background: #1f212e !important;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 136px;
}

@media (max-width: 1000px) {
  nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    height: 180px;
    margin-bottom: 1rem;
  }
}

nav .container .nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  nav .container .nav-title {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #63687e;
  }
}

nav .container .nav-title h1 {
  font-size: 1.75rem;
  font-weight: 600;
}

nav .container .nav-title p {
  color: #63687e;
  font-weight: 600;
  font-size: 0.9rem;
}

nav .container .theme .toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: #63687e;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1000px) {
  nav .container .theme .toggle {
    width: 100%;
  }
}

nav .container .theme .toggle-dark:hover {
  color: #ffffff;
}

nav .container .theme .toggle__input {
  display: none;
}

nav .container .theme .toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #8b97c6;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  margin-left: 1rem;
}

@media (max-width: 1000px) {
  nav .container .theme .toggle__fill {
    margin-left: auto;
  }
}

nav .container .theme .toggle__fill:hover {
  background: #1db489;
}

nav .container .theme .toggle__input:checked ~ .toggle__fill {
  background: #8b97c6;
}

nav .container .theme .toggle__input:checked ~ .toggle__fill:hover {
  background: #1db489;
}

nav .container .theme .toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: #252a41;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

nav .container .theme .toggle__input:checked ~ .toggle__fill::after {
  background: #fff !important;
}

nav .container .theme .toggle__input:checked ~ .toggle__fill::after {
  -webkit-transform: translateX(var(--height)) scale(0.8);
          transform: translateX(var(--height)) scale(0.8);
}

#hero .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 256px))[4];
      grid-template-columns: repeat(4, minmax(200px, 256px));
  grid-column-gap: 24px;
  margin-bottom: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  #hero .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

#hero .container .card {
  border-radius: 6px;
  background: #f0f2fa;
  height: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .container .card:hover {
  background: #e1e3f1;
}

#hero .container .card .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#hero .container .card .username img {
  width: 20px;
  margin-right: 0.5rem;
}

#hero .container .card .username small {
  color: #63687e;
  font-weight: 600;
}

#hero .container .card .count {
  font-size: 3.4rem;
}

#hero .container .card .followers {
  letter-spacing: 4px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #63687e;
  font-size: 0.75rem;
}

#hero .container .card .increase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 0.7rem;
  color: #1db489;
}

#hero .container .card .increase img {
  margin-right: 4px;
}

#hero .container .card-facebook {
  border-top: 4px solid #198ff5;
}

#hero .container .card-twitter {
  border-top: 4px solid #1ca0f2;
}

#hero .container .card-instagram {
  position: relative;
  overflow: hidden;
}

#hero .container .card-instagram .top {
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(#df4996), to(#fdc468));
  background: linear-gradient(to left, #df4996, #fdc468);
}

#hero .container .card-youtube {
  border-top: 4px solid #c4032a;
}

@media (max-width: 1000px) {
  #overview .container {
    margin-bottom: 3rem;
  }
}

#overview .container .section-title {
  margin-bottom: 1.4rem;
}

#overview .container .section-title h2 {
  color: #63687e;
}

@media (max-width: 1000px) {
  #overview .container .section-title {
    margin-bottom: 2rem;
  }
}

#overview .container .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 256px))[4];
      grid-template-columns: repeat(4, minmax(200px, 256px));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  #overview .container .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    grid-gap: 16px;
  }
}

#overview .container .cards .card {
  background: #f0f2fa;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.4rem 1.6rem 1.4rem;
}

#overview .container .cards .card:hover {
  background: #e1e3f1;
}

#overview .container .cards .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#overview .container .cards .card .info p {
  font-size: 0.87rem;
  color: #63687e;
  font-weight: 600;
}

#overview .container .cards .card .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#overview .container .cards .card .stats .number {
  font-size: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 600;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#overview .container .cards .card .stats .compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 0.7rem;
  color: #1db489;
}

#overview .container .cards .card .stats .compare img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 4px;
  width: 100%;
  height: 100%;
}

.dark-font-white {
  color: #ffffff !important;
}

.card-dark {
  background: #252a41 !important;
}

.decrease {
  color: #dc414c !important;
}
/*# sourceMappingURL=style.css.map */